#section{
    width: 500px;
    height: 550px;
    background-color: rgb(246, 248, 248);
    padding-right: 20px;
    margin-left: 25%;
    padding-left: 20px;
}
body{
    background-image: url(./images.jpg);
}

.minput{
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
}

.phone input{
    width: 50px;
}
.wu h1{
    background-color: brown;
    width: 520px;
    margin-left: 25%;
    position: relative;
    top: 20px;
    
}
.p1{
    display: flex;
    
    

}
.p1 p{
    margin-left: 8%;
    position: relative;
    right: 20px;
    bottom: 10px;

}

